<img
  class="sidebar__logo"
  src="assets/svg/logo-bw.svg"
  alt=""
/>
<div class="sidebarOption" onclick="window.location.href = 'index.html'">
  <i class="fas fa-home sidebarOption__icon"></i>
  <h4>Home</h4>
</div>
<div class="sidebarOption">
  <i class="fas fa-search sidebarOption__icon"></i>
  <h4>Search</h4>
</div>
<div class="sidebarOption">
  <i class="fas fa-books sidebarOption__icon"></i>
  <h4>Your Library</h4>
</div>
<div class="sidebarOption">
  <button
    id="pathfinder"
    type="text"
    class="text-white px-10 py-1 mt-5"
    style="border: 1px solid white"
  >
    Browse for Music
  </button>
</div>
<br /><strong class="sidebar__title">PLAYLISTS</strong>
<hr />
